@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600;700;800&family=Noto+Sans+Warang+Citi&family=Open+Sans&family=Oxygen:wght@300;400;700&family=Roboto+Slab:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.whitespace{
    height: 200vh;
}

.section-1 .bg-img{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../../images/BackgroundTX/field1.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.section-1 .bg-filter{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 20%;
    z-index: 2;
}

.section-1 .content{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
}

.section-1 .content .header{
    width:100%;
    height: 14em;
    background-color: azure;
    display: flex;
    align-items: flex-end;
}

.section-1 .content .nav{
    background-color: #303030;
    width: 100%;
    height: 4em;
}

.section-1 .content .middle{
    height:50em;
}

.section-1 .content .lower{
    width: 100%;
    height: 30em;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
}

.section-1 .content .lower .text{
    width:40vw;
    height:50%;
    font-family: 'Roboto Slab';
    color:#615F5F ;
    font-size: 1.4em;
    padding: .5em;
    line-height: 1.8;
}

.section-1 .content .lower .img{
    width: 15em;
    height: 15em;
    background-image: url(../../images/after5.jpg);
    background-size: cover;
    background-position: center;
}

.section-1 .content .test-bg{
    height: 100vh;
    width: 100%;
    background-image: url(../../images/cliff-spire.jpg);
    background-size: cover;
    z-index: 6;
}

.section-2 .bg-img{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../../images/wp11386598-cow-farm-wallpapers.jpg);
    background-size: cover;
    background-position: center;
    z-index: 8;
}