@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600;700;800&family=Noto+Sans+Warang+Citi&family=Open+Sans&family=Oxygen:wght@300;400;700&family=Roboto+Slab:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

.whitespace{
    height: 200vh;
}

.section-1 .bg-img{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../../images/BackgroundTX/field1.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.section-1 .bg-filter{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 20%;
    z-index: 2;
}

.section-1 .content{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
}

.section-1 .content .header{
    width:100%;
    height: 14em;
    background-color: azure;
    display: flex;
    align-items: flex-end;
}

.section-1 .content .nav{
    background-color: #303030;
    width: 100%;
    height: 4em;
}

.section-1 .content .landing{
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#f1f1f1;
    font-size: 2em;
}

.section-1 .content .service-content{
    width: 100%;
    min-height: 120vh;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-content .content-header{
    width:100%;
    height:1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: 700;
    background-color: #0C1232;
    color:#f1f1f1;
}

.service-content .service-banner{
    font-size: 1.7em;
    padding: 1.5em;
}

.service-content .service-banner span{
    padding: 0 .5em;
}

.service-content img{ width: .5em; }

.service-content .sub-text{
    font-weight: 600;
    font-size: 1em;
    margin-top: -1em;
}

.service-content .service-locations{
    font-size: 2em;
    margin-top: 4em;
}

.service-content .phone-numbers{
    font-size: 1.5em;
    padding-top: 2.5em;
}

.estimator-invoice{
    width:80%;
    min-height:80vh;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 4em 0;
    box-sizing: border-box;
}

.estimator-invoice .estimator{
    background-color: #303030;
    width:40vw;
    height:30vh;
    border-radius: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color:azure;
    font-size: 1.5em;
}

.estimator-invoice .invoice{
    background-color: #303030;
    color: azure;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2em;
    width: 45vw;
    height: 50vh;
    margin: 1em 0;
}

.estimator-invoice .invoice-sub{
    width: 40vw;
    height: 20vh;
    background-color: #303030;
    color: azure;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2em;
}

.about-content{
    position: relative;
    height:60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:azure;
}

.about-content .content-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2em;
    font-size: 2em;
    position: absolute;
    top: 0;
}

.about-content .container{
    width:60%;
    height:50%;
    border-top: azure .15em solid;
    border-bottom: azure .15em solid;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.about-content .container .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
}

.about-content .container .text .header{
    font-size: 2.4em;
    font-weight: 600;
    background: none;
    height: 1em;
}

.about-content .container .text .body{
    font-size: 1.3em;
}

.about-content .container .img{
    background-color: #303030;
    width:20%;
    height:80%;
    border-radius: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content .container .img img{ width:3em }

.contact-content{
    position: relative;
    min-height:60vh;
    background-color: azure;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-content .background-rhombus{
    position: absolute;
    width:60em;
    top: -10em;
    left:50em;
    rotate: 15deg;
}

.contact-content .contact-header{
    font-size: 3em;
    margin-top: 2.5em;
    position: relative;
    right:6em;
    color:#7a7a7a;
}

.contact-content .contact-text{
    position: relative;
    left: 5em;
    font-size: 1.7em;
    margin-top: 1em;
    width: 40%;
    line-height: 2.2;
}

.contact-content .row-two{
    position: relative;
    left:2em;
}

.contact-content .row-three{
    position: relative;
    left:4em;
}

.contact-content .email{
    font-size: 1.2em;
}

.contact-content .phone-number{
    font-size: 1.2em;
}

footer{
    background-color: #000;
    height: 20vh;
}