
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600;700;800&family=Open+Sans&family=Oxygen:wght@300;400;700&display=swap');

@font-face {
    font-family: "Bahnschrift";
    src: url(../../Fonts/Bahnschrift/bahnschrift.ttf);
}

@font-face {
    font-family: 'Gauge - Regular';
    src: url(../../Fonts/Gauge/Gauge-Regular.otf);
}

@font-face {
    font-family: 'Gauge - Heavy';
    src: url(../../Fonts/Gauge/Gauge-Heavy.otf);
}

@font-face {
    font-family: 'Gauge - Oblique';
    src: url(../../Fonts/Gauge/Gauge-Oblique.otf);
}

@font-face {
    font-family: 'Roboto Mono - Regular';
    src: url(../../Fonts/Roboto\ Mono/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Mono - Medium';
    src: url(../../Fonts/Roboto\ Mono/RobotoMono-Medium.ttf);
}

@font-face {
    font-family: 'Roboto Mono - Light';
    src: url(../../Fonts/Roboto\ Mono/RobotoMono-Light.ttf);
}

@font-face {
    font-family: 'Nunito - Regular';
    src: url(../../Fonts/Nunito/static/Nunito-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;

    --primary:#AF936E;
    --secondary:#C6B08E;
    --black:#010101;
    --white:#f3f3f3;
}

body{
    font-family: 'Oxygen';
    font-weight: 400;
    background-color: #edf5f4;
    font-size: 2em;
    min-height: 100%;
}

section{
    min-height:100vh;
    width:100%;
}

.service-1{
    color:#222222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-1 h1{
    margin-top: 1em;
    font-weight: 700;
    font-size: 1.8em;
    color:#111111;
    letter-spacing: .02em;
}

.service-1 .banner{
    width:60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3em 0;
}

.service-1 .quote-btn{
    width:12vw;
    height: 5vh;
    background: linear-gradient(0deg, rgba(198,33,47,1) 0%, rgba(227,38,54,1) 100%) ;
    border:none;
    color:white;
    font-size: .7em;
}

.service-1 .quote-btn:hover{
    cursor: pointer;
    background: linear-gradient(0deg, rgba(177,29,41,1) 00%, rgba(207,35,49,1) 100%);
}

.service-1 .banner img{ width: .5em;}

/*
    Estimator
*/

.estimator{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:30vw;
    height:25vh;
    position:relative;
    z-index: 1;
    background-color: white;
    border-radius: .4em;
    box-shadow: -3px 3px 10px var(--black);
    font-size: .8em;
}

.estimator-item{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    box-sizing: border-box;
}

.estimator-final{
    padding:1em 1.5em;
    box-sizing: border-box;
}

.estimator-choice{
    border:#909090 solid 3px;
    background-color: var(--white);
    color:var(--black);
    min-width: 3em;
}

.estimator-choice-selected{
    border:#62BE77 solid 3px;
}

.estimator-choice-disabled{
    border:#BE211E solid 3px;
}

.estimator-choice-disabled:hover{
    cursor:auto;
}

.estimator-question{
    max-width: 85%;
    text-align: center;
    box-sizing: border-box;
    padding: 1em 0;
}

.btn-hover{
    border: var(--black) solid 3px;
    transition: .35s ease-in;
}

.btn-hover:hover{
    border:var(--black) solid 3px;
    background-color: var(--white);
    color:var(--black);
}

.btn-disabled{
    background-color: #909090;
    border:var(--black) solid 3px;
    transition:.35s;
}

.btn-disabled:hover{
    cursor:auto;
}

button:hover{
    cursor:pointer;
}

.hidden{
    opacity: 0;
    pointer-events: none;
}

.margin-top-light{
    margin-top: 2em;
}

.margin-top-very-light{
    margin-top: 1em;
}

.margin-top-super-light{
    margin-top: .5em;
}

.margin-top{
    margin-top: 3em;
}

.margin-top-heavy{
    margin-top: 5em;
}

.margin-bottom-light{
    margin-bottom: 2em;
}

.margin-bottom-very-light{
    margin-bottom: 1em;
}

.padding-top-light{
    padding-top: 2em;
}

.padding-top-very-light{
    padding-top: 1em;
}

.padding-bottom-light{
    padding-bottom: 2em;
}

.padding-bottom-very-light{
    padding-bottom: 1em;
}

.description-text{
    font-size: .75em;
    font-family: 'Oxygen';
    margin-top: 1em;
    margin-bottom: 1em;
}

.est-btn{
    border:none;
    background-color: var(--black);
    color:var(--white);
    font-size:1em;
    border-radius: .15em;
    padding:.1em .3em;
    font-family: 'Oxygen';
}

.estimator-choice{
    border:#909090 solid 3px;
    background-color: var(--white);
    color:var(--black);
    min-width: 3em;
}

.estimator-choice-selected{
    border:#62BE77 solid 3px;
}

.estimator-choice-disabled{
    border:#BE211E solid 3px;
}

.estimator-choice-disabled:hover{
    cursor:auto;
}

.estimator-question{
    max-width: 85%;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

.btn-hover{
    border: var(--black) solid 3px;
    transition: .35s ease-in;
}

.btn-hover:hover{
    border:var(--black) solid 3px;
    background-color: var(--white);
    color:var(--black);
}

.btn-disabled{
    background-color: #909090;
    border:var(--black) solid 3px;
    transition:.35s;
}

.btn-disabled:hover{
    cursor:auto;
}
/*
    Invoice
*/

.invoice-container{
    margin-top: 8em;
    width:55vw;
    font-family: 'Roboto Mono - Light';
    font-size: .9em;
    border-bottom: var(--black) solid 2px;
}

.invoice-header-row{
    border-bottom: var(--black) solid 4px;
    background-color: var(--secondary);
}

.invoice-row{
    width:100%;
    padding-left: 1em;
    box-sizing: border-box;
    display: flex;
    line-height: 150%;
}

.invoice-description{
    width:60%;
    /*background-color: #79ff61;*/
}

.invoice-rate{
    width:20%;
    display:flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right:1em;
    border-left: var(--black) solid 2px;
    /*background-color:#7affcc;*/
}

.invoice-amount{
    width:20%;
    display:flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right:1em;
    border-left: var(--black) solid 2px;
    /*background-color: #ffb3d5;*/
}

.invoice-primary{
    background-color: white;
}

.invoice-secondary{
    background-color: #cacaca;
}

.empty-row{
    height:1.2em;
}

/*
    Invoice Meta
*/
.invoice-meta{
    font-family: 'Roboto Mono - Light';
    font-size: .9em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 55vw;
    margin-top: 1.5em;
}

.invoice-totals{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width:15vw;
}

.comments{
    width:30vw;
}

.comments-header{
    background-color: var(--secondary);
    padding-left: 1em;
}

.comments-container{
    margin-top: .3em;
    border: var(--black) solid 2px;
    border-top: var(--black) solid 5px;
    padding:.25em .75em;
}

.buffer{ background-color: #BFC1C2; min-height:30vh;}

