
*{
    padding: 0;
    margin: 0;
}

body{
    width:100%;
    min-height: 100vh;

    --bg-1-height:85vh;
    --bg-3-height:85vh;
    --bg-2-height:100vh;
}

.layer-bottom{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    height: calc(var(--bg-1-height) + var(--bg-2-height) + var(--bg-3-height));
    width: 100%;
}

.layer-bottom .bg{
    background-size: cover;
    background-position: center;
    height: 85vh;
}

.layer-bottom .bg-1{
    background-image: url(../../images/BackgroundTX/field1.jpg);
    background-size: cover;
    background-position: center;
    height: var(--bg-1-height);
}

.layer-bottom .bg-2{
    background-image: url(../../images/wp11386598-cow-farm-wallpapers.jpg);
    background-size: cover;
    background-position: center;
    height: var(--bg-2-height);
}

.layer-bottom .bg-3{
    background-image: url(../../images/meadow-on-autumn.jpg);
    background-size: cover;
    background-position: center;
    height: var(--bg-3-height);
}

.layer-filter{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    height: calc(var(--bg-1-height) + var(--bg-2-height) + var(--bg-3-height));
    width: 100%;
}


.layer-filter .bg{
    width: 100%;
    background-color: #000;
}


.layer-filter .bg-1{ 
    opacity: 20%;
    height: var(--bg-1-height);
}
.layer-filter .bg-2{ 
    opacity: 40%;
    height: var(--bg-2-height);
}
.layer-filter .bg-3{ 
    opacity: 50%;
    height: var(--bg-3-height);
}
